! Colors
*.foreground:  #D9E0EE
*.background:  #1E1E2E
*.cursorColor: #F9E2AF

! Black
*.color0:  #1E1E2E
*.color8:  #313244

! Red
*.color1:  #F38BA8
*.color9:  #F38BA8

! Green
*.color2:  #A6E3A1

! Yellow
*.color3:  #F9E2AF

! Blue
*.color4:  #89B4FA
*.color12: #89B4FA

! Magenta
*.color5:  #C9CBFF
*.color13: #C9CBFF

! Cyan
*.color6:  #94E2D5
*.color14: #94E2D5

! White
*.color7:  #D9E0EE
*.color15: #E6E9EF

!!!!!!!!!!!! General !!!!!!!!!!!

XTerm*faceName: Fira Mono Nerd Font
XTerm*faceSize: 12
XTerm*cursorBlink: true
XTerm*saveLines: 10000
XTerm*utf8: true
XTerm*termName: xterm-256color
XTerm*VT100*scrollBar: false
XTerm*scrollTtyOutput: false
XTerm*bellIsUrgent: false
XTerm*title: XTerm
XTerm*selectToClipboard: true
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm*dynamicColors: true
XTerm*allowTitleOps: true
XTerm*colorMode: true
XTerm*allowWindowOps: true

XTerm*vt100.translations: #override \n\
	  Ctrl <Key>-: smaller-vt-font() \n\
    Ctrl <Key>+: larger-vt-font() \n\
    Ctrl <Key>0: set-vt-font(d) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
          
!execute xrdb ~/.Xresources
